@import './colors.css';
@import './fonts.css?';
html{
  transition: none;

}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--background-color);
  transition: 500ms all;

  font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Krub', sans-serif;


}
#Darkbutton{
  color: var(--background-contrast);
  cursor: pointer;
}
.back{
  color: var(--background-contrast);

}
.link{
  display: flex;
  gap: 10px;
  color: var(--background-color);
}
ul{
  padding: 0%;
  color: var(--background-color);
}
li{
  margin: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: var(--background-color);
  line-height: 1.5;
}

input {
  font: inherit;
  width: 100%;
  border-radius: 0.5em;
  height: auto;
  padding: 5px;
  color: var(--button-text);
  background-color: var(--background-contrast);
  border: 1px solid var(--background-color);

}

button {
  cursor: pointer;
  width: 100%;
  border-radius: 0.5em;
  height: auto;
  padding: 5px;
  border: 1px solid var(--accent-color);
  background-color: var(--button-color);
  color: var(--button-text);
  box-shadow: 0px 0px 19px 0px var(--box-shadow);
}

.target{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  
  width: auto; min-width: 30%;  height: auto; min-height: 20%;
  
  margin: 20px; padding: 50px 50px;
  color: var(--background-contrast);

  border-radius: 1.8em;
  background-color: var(--background-contrast);

}
.gallery{
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 0%;
  width: 100%;
}
.gallery__item {
  margin: 50px;
  flex-basis: calc(100% / 3 - 30px);
}
.gallery__image {
  width: 100%;

  height: 100%;
}

.categories {
  width: 100%;
  height: 100%;
  padding: 0%;
}
#categories{
  width: 100%;
  height: 100%;
  padding: 0%;

}

#counter{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2em;
}
#controls{
  display: flex;
  gap: 20px;
}


input[type="range"] {
  -webkit-appearance: none;
  outline: 0;
  background-color: var(--background-contrast);
  height: 20px;
  border: var(--button-text) 2px solid;
  border-radius: 50px;
  transition: box-shadow 0.2s ease-in-out;


}
input[type="range"]::-webkit-slider-thumb {

  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--button-text);
  border-radius: 30px;
  cursor: pointer;  
}
  
  