@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap');

* {
  color: #ffffff;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border-radius: 10px;
  transition: all 300ms;
  gap: 10px;
}

*:hover{
  transition: all 300ms;

}
a{
  color: #ffffff;
  background-color: #ffffff00;
  padding: 5px 5px 9px;
  border-radius: 0.6em;
  transition: all 300ms;
}
a:hover{
  background-color: #E67C2A;
  opacity: 1;
  transition: all 300ms;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

  width: 100%;
  height: 100%;
  margin: auto;
  font-family: 'Inter', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #303030; */
   
  background-image: linear-gradient(to left, #ffae56, #f3625a, #8e3a58, #482e46, #1a1a1a);
  color: #ffffff;
  line-height: 1.5;
  
}
.list > ul {
  display: flex;
  gap: 30px;


}
button{
  background-color: #ffae56;
  color: #1a1a1a;
  padding: 8px 12px;
  cursor: pointer;
}
button:hover{
  background-color: #ffc280;  
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.44);
  box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.44);

}
.ul{
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 400px;
  padding: 5em;


  background: rgba(0, 0, 0, 0.418);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

input {
  padding: 8px;
  margin-top: 20px;
  font: inherit;
  background-color: #3d172428;
  border: 0.2px solid #ffc2804d;
}
#counter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* TASK3 */
.gallery{
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 0%;
  max-width: 90%;
}
.gallery__item {
  margin: 50px;
  flex-basis: calc(100% / 3 - 30px);
}
.gallery__image {
  width: 100%;

  height: 100%;
}

/* task07 */

input[type="range"] {
  -webkit-appearance: none;
  outline: 0;
  background-color: #00000023;
  height: 20px;
  border: #ffad56ad 2px solid;
  border-radius: 50px;
  transition: box-shadow 0.2s ease-in-out;


}
input[type="range"]::-webkit-slider-thumb {

  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color:#ffae56;
  border-radius: 30px;
  cursor: pointer;  
}
  
  